body{
	background-color: lightgreen;
}
.row{
	padding: 20px;
	boder-radius: 30px;
	background-color lightgrey;
	border: 2px solid grey;
}
.nybg{
	background-color: pink;
}
.greenbg{
	background-color: lightgreen;
}